## Quiz 1: Understanding the Dataset

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import os

%matplotlib inline

random.seed(42)

In [2]:
ab_data_file = os.path.join('./data', 'ab_data.csv')

df = pd.read_csv(ab_data_file)

df.sample(10)

        user_id                   timestamp      group landing_page  converted
237217   757428  2017-01-05 17:26:20.897832  treatment     new_page          0
247459   734275  2017-01-19 21:40:12.081379  treatment     new_page          0
281808   757162  2017-01-06 00:02:04.184781  treatment     new_page          0
89093    645474  2017-01-22 07:38:17.774815  treatment     new_page          1
276560   892577  2017-01-16 07:53:42.709317    control     old_page          0
138008   795908  2017-01-13 06:01:03.807775    control     old_page          0
37076    929904  2017-01-05 11:41:02.899910  treatment     new_page          0
116018   885641  2017-01-22 05:12:37.629181  treatment     new_page          0
9497     658359  2017-01-10 03:27:35.137914    control     old_page          0
202234   812236  2017-01-11 22:51:38.668696    control     old_page          0

In [3]:
'''
The number of rows in the dataset
'''

df.shape[0]

294478

In [4]:
'''
The number of unique users in the dataset
'''

df['user_id'].unique().shape[0]

290584

In [5]:
'''
The proportion of users converted
'''

df['converted'].mean()

0.11965919355605512

In [6]:
'''
The number of times the new_page and treatment don't match.
'''

gk = df.groupby('group')

control_group = gk.get_group('control')
treatment_group = gk.get_group('treatment')

num_new_page_n_control =  control_group[control_group['landing_page'] == 'new_page'].shape[0]
num_old_page_n_treatment =  treatment_group[treatment_group['landing_page'] == 'old_page'].shape[0]

num_new_page_n_control + num_old_page_n_treatment

3893

In [7]:
'''
Do any of the rows have missing values?
'''

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

**Answer**: There is no missing values

---
## Quiz 2: Messy Data

In [8]:
'''
Drop rows satisfying the following conditions
- new_page & control
- old_page & treatment
'''

df2 = df.drop(control_group[control_group['landing_page'] == 'new_page'].index)

df2.drop(treatment_group[treatment_group['landing_page'] == 'old_page'].index, inplace=True)

In [9]:
# Double Check all of the correct rows were removed - this should be 0
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

---
## Quiz 3: Updated Dataframe

In [10]:
'''
The number of unique users in df2
'''

df2['user_id'].unique().shape[0]

290584

In [11]:
'''
Row of non unique id
'''

duplicated_user = df2[df2['user_id'].duplicated()]

duplicated_user

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [12]:
df2.drop(duplicated_user.index, inplace=True)

---
## Quiz 4: Probability

In [13]:
'''
Probability of converting regardless of page
'''

df2['converted'].mean()

0.11959708724499628

In [14]:
'''
Given that an individual was in the control group, the probability of converting.
'''

df2.query("group == 'control'")['converted'].mean()

0.1203863045004612

In [15]:
'''
Given that an individual was in the treatment group, the probability of converting.
'''

df2.query("group == 'treatment'")['converted'].mean()

0.11880806551510564

In [16]:
'''
The probability of receiving the new page.
'''

df2_gk = df2.groupby('landing_page')

df2_gk.get_group('new_page').shape[0] / df2.shape[0]

0.5000619442226688